:root{
    --bgColor: #242424;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

button, input{
    border: none;
}

#header, #page{
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-size:20px;
    padding: 0px;
}

body{
    background-color: black;
    color: #d7d7d7;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    height: max-content;
}

#header{
    margin-bottom: 2.5%;
    background-color: var(--bgColor);
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}

#logo{
    display: inline-block;
    width: 24px;
    height: 32px;
}

#app-name{
    display: inline-block;
    font-size: 30px;
}

#page{
    background-color: var(--bgColor);
    border-radius: 5px;
    height: auto;
    padding-top: 2.5%;
    text-align: center;
}

#search-form{
    min-width: 8%;
    width: auto;
    height: 4vh;
    margin-bottom: 2.5%;
}

#search-input{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #d7d7d7;
    height: 100%;
    width: 25%;
    text-align: center;
    outline: none;
}

#search-input::placeholder{
    color: black;
    opacity: 70%;
    text-align: center;
}

#search-button{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 106%;
    width: 10%;
    background-color: rgb(252, 90, 90);
    cursor: pointer;
    transition: background-color .5s ease;
}

#search-button:hover{
    background-color: rgb(253, 133, 133);
}

#movies-grid{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.movie-card{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 200px;
    align-items: flex-start;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1.25%;
    margin-bottom: 1.25%;
}


.movie-poster{
    height: auto;
    width: 200px;
    cursor: pointer;
}

.movie-title{
    text-align: left;
    font-size: 14px;
    line-height: 150%;
    font-weight: bold;
    margin-bottom: 0px;
    align-content: space-between;
    cursor: pointer;
}

.movie-votes{
    margin: 0px;
    font-size: 14px;
}