*{
    font-family: Arial, Helvetica, sans-serif;
}

#header, #page{
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-size:18px;
    padding: 0px;
}

body{
    background-color: black;
    color: #c6c6c6;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

#header{
    margin-bottom: 2.5%;
    background-color: #2d2d2d;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}

#logo{
    display: inline-block;
    width: 24px;
    height: 32px;
}

#app-name{
    display: inline-block;
    font-size: 30px;
}

#page{
    background-color: #2d2d2d;
    border-radius: 5px;
    height: 80vh;
    padding-top: 2.5%;
    display: flex;
    justify-content: center;
}

#search-form{
    width: 60%;
    min-width: 100px;
    display: inline-block;
}

